@charset "utf-8";

/**
 * --------------------------------
 * style CSS
 * creator : chowoobin
 * --------------------------------
*/

/**
* --------------------------------
* common
* --------------------------------
*/

/* color */
.color_blue {color:#475DAD !important;}
.color_black {color:#252525 !important;}
.color_gray {color:#B3B3B3 !important;}

/* btn */
.btn {display:inline-block;position:relative;min-width:80px;height:40px;padding:0 5px;background-color:#fff;color:#0056a6;font-size:14px;font-weight:600;line-height:40px;text-align:center;vertical-align:middle;  border:1px solid #0056a6;border-radius:5px;}
.btn:disabled {background:#e4e4e4 !important;color:#fff;border-color:#e4e4e4 !important;pointer-events:none;}
.btn.full {width:100%;}
.btn.small {min-width:auto;height:22px;padding:0 8px;font-size:12px;line-height:22px;}
.btn.big {min-width:152px;height:48px;font-size:16px;line-height:48px;}
.btn.big.round {border-radius:22px;}
.btn.white {background:#fff;}
.btn.black {background:rgba(0,0,0, .4);color:#fff;}
.btn.blue {background:#0056a6;color:#fff;}
.btn.line {min-width:auto;height:auto;padding:0;color:#0056a6;border:none;border-radius:0;line-height:normal;text-decoration:underline;}
.btn.arrow {color:#fff;border:1px solid #fff;}
.btn.arrow:after {content:"";display:inline-block;width:7px;height:12px;margin-top:-2px;margin-left:10px;background:url('../img/btn_arrow.png') no-repeat 0 0;vertical-align:middle;}

/* btn_group */
.btn_group {display:flex;align-items:center;gap:8px;margin-top:16px;text-align:center;}
.btn_group .btn {width:calc(50% - 6px);min-width:auto;}
.btn_group .btn:first-child:last-child {width:100% !important;}
.btn_group.col3 {display:flex;align-items:center;flex-wrap:wrap;}
.btn_group.col3 .btn {width:calc(32.69% - 6px);min-width:auto;margin-right:12px;}
.btn_group.col3 .btn:nth-of-type(3n) {margin-right:0;}
.btn_group.col3 .btn:nth-of-type(n+4) {margin-top:12px;}

/* title */
.h3_tit {margin-bottom:30px;color:#000;font-size:24px;font-weight:normal;line-height:32px;}
.h3_tit ~ .h3_tit {margin-top:24px;}

/* form */
input, select, textarea {background:#fff;}
textarea {width:100%;height:120px;padding:14px 12px;border:1px solid #e4e4e4;border-radius:6px;resize:none;overflow-y:auto;}
textarea:disabled {color:#888;background:#f3f3f3;}
textarea::placeholder {color:#898989;}

/* input text, input password, input number, input email, input search */
input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="search"] {width:100%;height:40px;padding:5px 12px 4px;line-height:40px;vertical-align:middle;border:1px solid #e4e4e4;border-radius:6px;}
input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="number"]::placeholder, input[type="email"]::placeholder, input[type="search"]::placeholder {color:#898989;opacity:1;}
input[type="text"]:disabled, input[type="password"]:disabled, input[type="number"]:disabled, input[type="email"]:disabled, input[type="search"]:disabled {color:#888;background:#f3f3f3;}
input:focus::placeholder{color:transparent}

/* input checkbox */
input[type="checkbox"] {position:absolute;width:0;height:0;font-size:0;line-height:0;opacity:0;overflow:hidden;}
input[type="checkbox"] + span {display:inline-block;position:relative;min-height:20px;padding-left:26px;line-height:22px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:pointer;vertical-align:top;}
input[type="checkbox"] + span:before {content:"";display:inline-block;position:absolute;top:0;left:0;width:20px;height:20px;background:url("../img/form_chk.svg") no-repeat 0 0;background-position-y:0;background-size:100%;}
input[type="checkbox"]:checked + span:before {background-image:url("../img/form_chk_checked.svg");}
input[type="checkbox"]:disabled + span:before {background-image:url("../img/form_chk_disable.svg");}
input[type="checkbox"]:checked:disabled + span:before {background-image:url("../img/form_chk_disablechecked.svg");}
input[type="checkbox"]:disabled + span,
input[type="checkbox"]:checked:disabled + span {cursor:default;}

/* input radio */
input[type="radio"] {position:absolute;width:0;height:0;font-size:0;line-height:0;opacity:0;overflow:hidden;}
input[type="radio"] + span {display:inline-block;position:relative;min-height:20px;padding-left:26px;line-height:22px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:pointer;vertical-align:top;}
input[type="radio"] + span:before {content:"";display:inline-block;position:absolute;top:0;left:0;width:20px;height:20px;background:url("../img/form_rdo.svg") no-repeat 0 0;background-position-y:0;background-size:100%;}
input[type="radio"]:checked + span:before {background-image:url("../img/form_rdo_checked.svg");}
input[type="radio"]:disabled + span:before {background-image:url("../img/form_rdo_disable.svg");}
input[type="radio"]:checked:disabled + span:before {background-image:url("../img/form_rdo_disablechecked.svg");}
input[type="radio"]:disabled + span,
input[type="radio"]:checked:disabled + span {cursor:default;}

/* input button */
input[type="button"] {cursor:pointer;}

/* select */
select::-ms-expand {display:none;}
.select {position:relative;width:100%;min-width:100px;}
.select:after {content:"";position:absolute;top:13px;right:8px;width:16px;height:16px;margin-top:-1px;background:url("../img/form_select.svg") no-repeat 0 0 /100%;}
.select select {width:100%;height:40px;padding-left:12px;padding-right:25px;background:#fff;color:#898989;line-height:40px;border:1px solid #e4e4e4;border-radius:6px;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.select select.is_active {color:#232323;}

/* datepicker */
.datepicker {width:100%;}
.datepicker label {display:block;position:relative;}
.datepicker label:after {content:"";display:block;position:absolute;top:0;right:0;width:40px;height:40px;margin:-1px -1px 0 0;background:url("../img/form_datepicker.png") no-repeat 50% 50%/20px;}
.datepicker label input {padding-right:40px;}
.datepicker .hyppen + label {margin-left:0;}
.datepicker .ui-datepicker {padding:0 1px;display:block;width:100%;border:none;}
.ui-datepicker {z-index:101 !important;}
.ui-datepicker .ui-datepicker-header {padding:0;background-color:transparent;border:none;}
.ui-datepicker .ui-datepicker-prev {top:5px;left:calc(50% - 80px);width:26px;height:26px;background:transparent;}
.ui-datepicker .ui-datepicker-prev:after {content:"";position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);display:inline-block;width:9px;height:18px;background:url("../img/form_datepicker_prev.png") no-repeat 0 0 /auto 100%;}
.ui-datepicker .ui-datepicker-next {top:5px;right:calc(50% - 80px);width:26px;height:26px;background:transparent;}
.ui-datepicker .ui-datepicker-next:after {content:"";position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);display:inline-block;width:9px;height:18px;background:url("../img/form_datepicker_next.png") no-repeat 0 0 /auto 100%;}
.ui-datepicker .ui-datepicker-title {margin:0;padding:2px 0 0 0;color:#101010;font-size:15px;font-weight:600;font-family:"NotoSansKR";line-height:31px;}
.ui-datepicker table {margin-top:7px;margin-bottom:2px;border-collapse:separate;border-spacing:9px;}
.ui-datepicker th {margin:0;padding:0;color:#454545;font-size:13px;font-weight:200;font-family:"NotoSansKR";line-height:1;}
.ui-datepicker th.ui-datepicker-week-end {color:#ff1e13;}
.ui-datepicker th.ui-datepicker-week-end:last-child {color:#5e89e2;}
.ui-datepicker td {margin:0;padding:0;height:20px;font-size:13px;font-family:"NotoSansKR";}
.ui-datepicker td.ui-state-disabled {opacity:1;}
.ui-datepicker td .ui-state-default {position:relative;margin:0 auto;padding:0;width:20px;height:22px;background-color:transparent;border:none;text-align:center;color:#222;line-height:22px;border-radius:20px;}
.ui-datepicker td .ui-state-default.ui-state-active {background:#326dc2;color:#fff;}
.ui-datepicker td.ui-state-use .ui-state-default,
.ui-datepicker td.ui-state-use.ui-datepicker-today .ui-state-default {color:#101010;font-weight:600;}
.ui-datepicker td.ui-state-use .ui-state-active {color:#fff;font-weight:600;background-color:#ff6913;}
.ui-datepicker td.ui-datepicker-today .ui-state-default {background:#89929e !important;color:#fff;}
.ui-datepicker td.ui-datepicker-today .ui-state-default:after {position:absolute;bottom:-12px;left:-6px;display:block;width:30px;color:#aea7a2;font-size:13px;font-weight:200;}
.ui-datepicker td.ui-datepicker-today .ui-state-default.ui-state-active {background:#326dc2;color:#fff;}
.ui-datepicker .ui-datepicker-current {display:none;}
.ui-datepicker td.ui-state-disabled .ui-state-default {background:#f3f3f3;color:#888;border-radius:0;}

/**
* --------------------------------
* layout
* --------------------------------
*/
/* skip navigation */
#skip {position:relative;}
#skip a {display:block;position:absolute;top:-40px;left:0;width:100%;height:40px;background:#000;color:#fff;line-height:38px;text-align:center;z-index:100;}
#skip a:focus, #skip a:active {top:0;}

/* layout */
#wrap {height:100%;overflow-y:scroll;}
.header {position:fixed;top:0;width:100%;height:70px;background:#fff;border-bottom:1px solid #efefef;z-index:10;}
.header .header_tit {display:flex;align-items:center;justify-content:center;height:70px;}
.header .tit {color:#000;font-size:18px;font-weight:600;line-height:28px;}
.header .btn_prev {position:absolute;top:0;left:0;width:56px;height:70px;background:url('../img/header_prev.png') no-repeat 50% 50%/24px;}
.header .btn_qna {position:absolute;top:50%;right:8px;margin-top:-13px;padding:5px;color:#1b45b3;font-size:16px;font-weight:600;}
.header .btn_sos {position:absolute;top:50%;right:8px;width:42px;height:42px;margin-top:-21px;background:url('../img/ico_sos.png') no-repeat 50% 50%/42px;}
.content {min-height:calc(100% - 70px);margin-top:70px;padding:20px 16px;}
.content.is_bottom_area {padding-bottom:108px !important;}
.bottom_area {position:fixed;bottom:0;left:0;width:100%;/*background:#fff;*/padding:20px 16px;}
.bottom_area .btn:first-child:last-child {width:100%;}

.footer {position:relative;padding:30px 16px;background-color:#f7f7f7;}
.footer .footer_logo {display:block;}
.footer .footer_cont {margin-top:20px;}
.footer .footer_cont .footer_info li {display:block;position:relative;color:#565656;font-size:12px;line-height:20px;}
.footer .footer_cont .footer_copyright {margin-top:12px;color:#898989;font-size:11px;line-height:19px;}

/**
* --------------------------------
* component
* --------------------------------
*/

/* radio_box */
/*
.radio_box {display:flex;flex-wrap:wrap;justify-content:space-between;margin-top:15px;}
.radio_box label {width:calc(50% - 4px);margin-top:5px;}
.radio_box input[type="radio"] + span {display:block;margin:0;padding:5px;background:#fff;text-align:center;border:1px solid #000;}
.radio_box input[type="radio"] + span:before {display:none;}
.radio_box input[type="radio"]:checked + span {margin:0;padding:5px;background:#ddd;}

/* check_box */
/*
.check_box {display:flex;flex-wrap:wrap;justify-content:space-between;margin-top:15px;}
.check_box label {width:calc(50% - 4px);margin-top:5px;}
.check_box input[type="checkbox"] + span {display:block;margin:0;padding:5px;background:#fff;text-align:center;border:1px solid #000;}
.check_box input[type="checkbox"] + span:before {display:none;}
.check_box input[type="checkbox"]:checked + span {background:#ddd;}

/* lnb */
.lnb {position:sticky;top:70px;background:#fff;z-index:1;}
.lnb .lnb_menu {display:flex;text-align:center;border-bottom:1px solid #e3e3e3;}
.lnb .lnb_menu > li {position:relative;width:33.333%;}
.lnb .lnb_menu > li:before {content:"";position:absolute;top:50%;left:0;width:1px;height:12px;margin-top:-6px;background:#f2f2f2;}
.lnb .lnb_menu > li:first-child:before {display:none;}
.lnb .lnb_menu > li > a {display:block;position:relative;height:50px;color:#898989;font-size:14px;line-height:52px;}
.lnb .lnb_menu > li > a:before {content:"";position:absolute;top:4px;left:-16px;width:1px;height:18px;background:#B3B3B3;}
.lnb .lnb_menu > li > a:first-child:before {display:none;}
.lnb .lnb_menu > li.is_active > a {color:#0056a6;border-bottom:3px solid #0056a6;}

/* tab */
.tab {margin-top:16px;}
.tab .tab_menu {display:flex;align-items:center;padding:0 16px;}
.tab .tab_menu > li {width:50%;}
.tab .tab_menu > li > a {display:block;height:40px;background:#fff;color:#898989;font-size:13px;line-height:42px;text-align:center;border:solid 1px #e3e3e3;}
.tab .tab_menu > li:first-child > a {border-right:none;border-top-left-radius:4px;border-bottom-left-radius:4px;}
.tab .tab_menu > li:last-child > a {border-left:none;border-top-right-radius:4px;border-bottom-right-radius:4px;}
.tab .tab_menu > li.is_active > a {background:#0056a6;color:#fff;border:none;}
.tab .tab_cont {padding:20px 16px 0;}
.tab .tab_cont .tab_item {display:none;}
.tab .tab_cont .tab_item.is_active {display:block;}

/* category_list */
.category_list > li {border-bottom:1px solid #e3e3e3;}
.category_list > li > a {display:flex;flex-wrap:wrap;align-items:center;justify-content:center;position:relative;height:76px;text-align:center;}
.category_list > li > a:before {content:"";position:absolute;top:50%;left:16px;width:32px;height:32px;margin-top:-16px;background:url('../img/ico_lnb_logo.svg') no-repeat 0 0;}
.category_list > li > a:after {content:"";position:absolute;top:50%;right:16px;width:20px;height:20px;margin-top:-10px;background:url('../img/ico_arrow_blue.svg') no-repeat 0 0;}
.category_list > li > a em {display:block;color:#000;font-size:16px;}
.category_list > li > a .sub {display:block;margin-top:8px;color:#565656;font-size:13px;}

/* form_wrap */
.form_wrap > li + li {margin-top:25px;}
.form_wrap .tit {margin-bottom:12px;color:#232323;font-size:14px;}
.form_wrap .tit.mb0 {margin-bottom:0;}
.form_wrap .tit .require {display:inline-block;margin-top:-3px;color:#ff3131;vertical-align:top;}
.form_wrap .form_box {display:flex;align-items:center;gap:8px;}
.form_wrap .form_box.col2 .item {width:50%;}
.form_wrap .form_box.type_address {flex-wrap:wrap;gap:8px;}
.form_wrap .form_box.type_email input:first-child {width:80%;}
.form_wrap .form_box.type_block {display:block;}
.form_wrap .form_box .hyppen {color:#232323;}
.form_wrap .form_box .picture {display:flex;align-items:end;gap:12px;}
.form_wrap .form_box .picture .images {border-radius:4px;overflow:hidden;}
.form_wrap .form_box .picture .images img {max-width:108px;}
.form_wrap .form_box .inputbtn {display:flex;gap:8px;width:100%;}
.form_wrap .form_box .form_txt {margin-top:7px;color:#898989;font-size:13px;line-height:20px;}
.form_wrap .form_box .form_txt:first-child {margin-top:5px;}
.form_wrap .form_box .form_item .item {margin-top:12px;}

/* summary_list */
.summary_list dl {display:flex;flex-wrap:wrap;border-top:1px solid #e3e3e3;}
.summary_list dt {width:30%;padding:20px 0 15px;color:#565656;font-size:13px;border-bottom:1px solid #e3e3e3;}
.summary_list dd {width:70%;padding:17px 0 11px;color:#000;font-size:14px;line-height:20px;border-bottom:1px solid #e3e3e3;}
.summary_list .picture {display:flex;align-items:end;gap:8px;margin-top:5px;}
.summary_list .picture .images {border-radius:4px;overflow:hidden;}
.summary_list .picture .images img {max-width:72px;}
.summary_list .picture .btn {font-size:13px;}

/* ea_option */
.ea_option {display:inline-block;position:relative;width:114px;height:34px;margin-top:15px;vertical-align:top;border-radius:4px;border:1px solid #dedddd;overflow:hidden;}
.ea_option input {padding:0 32px;width:100%;height:32px;background-color:#fff;font-size:14px;font-weight:normal;line-height:30px;text-align:center;vertical-align:top;border:none;}
.ea_option input[readonly] {-webkit-text-fill-color:#232323;}
.ea_option [class^=btn] {position:absolute;top:0;width:32px;height:32px;line-height:30px;text-align:left;text-indent:-9999px;}
.ea_option [class^=btn]:after {content:"";position:absolute;top:50%;left:50%;margin:-6px 0 0 -6px;display:inline-block;width:12px;height:12px;background-color:#fff;background-repeat:no-repeat;background-position:50% 50%;}
.ea_option .btn_down {left:0;border-right:1px solid #dedddd;}
.ea_option .btn_down:after {background-image:url('../img/btn_eadown.svg');}
.ea_option .btn_down.is_active:after {background-image:url('../img/btn_eadown_active.svg');}
.ea_option .btn_up {right:0;border-left:1px solid #dedddd;}
.ea_option .btn_up:after {background-image:url('../img/btn_eaup_active.svg');}
.ea_option .btn_up.is_stop:after {background-image:url('../img/btn_eaup.svg');}

/* payment */
.payment {padding:30px 16px 50px;}
.payment .h3_tit {margin-bottom:0;padding-bottom:13px;font-size:16px;line-height:normal;border-bottom:1px solid #e3e3e3;}
.payment .h3_tit.no_bd {border-bottom:none;}
.payment .btn_group {margin-top:40px;}
.payment .btn_group .btn:first-child {width:30%;}
.payment .btn_group .btn:last-child {width:70%;}
.payment_summary dl {display:flex;align-items:center;justify-content:space-between;padding:19px 0 16px;border-bottom:1px solid #e3e3e3;}
.payment_summary dt {color:#565656;font-size:13px;font-weight:normal;}
.payment_summary dd {color:#000;font-size:14px;}
.payment_summary dd strong {font-weight:normal;}
.payment_summary dd.payment_total {color:#e54e2b;font-size:18px;}
.payment_summary dd.payment_total strong {font-weight:600;}
.payment_summary dd.payment_red {color:#e54e2b}
.payment_summary dd.payment_bold strong {font-weight:600;}
.payment_refund {margin-top:16px;}
.payment_refund li {color:#565656;font-size:13px;line-height:20px;}
.payment_agree {margin-top:16px;}
.payment_agree li {margin-top:12px;}
.payment_agree li:after {content:"";display:block;clear:both;}
.payment_agree li .head {color:#565656;font-size:13px;}
.payment_agree li .btn_arrow {float:right;position:relative;color:#0056a6;font-size:12px;font-weight:normal;}
.payment_agree li .btn_arrow:after {content:"";display:inline-block;width:6px;height:6px;margin-top:-1px;margin-left:4px;vertical-align:middle;border-top:1px solid #0056a6;border-right:1px solid #0056a6;transform:rotate(47deg);}
.payment_gift > li {background-color:#fff;border-radius:12px;box-shadow:0 3px 6px 0 rgba(0, 0, 0, 0.16);}
.payment_gift > li + li {margin-top:12px;}
.payment_gift > li.nodata {padding:20px;background:transparent;text-align:center;box-shadow:none;}
.payment_gift label {display:block;padding:17px 20px;}
.payment_gift label .tit {display:block;color:#000;font-size:16px;font-weight:normal;}
.payment_gift label .sub {margin-top:5px;color:#565656;font-size:14px;}
.payment_gift label .sub .sort:before {content:"";display:inline-block;margin-right:8px;height:10px;border-left:1px solid #e3e3e3;}
.payment_gift label .date {margin-top:5px;color:#898989;font-size:13px;}
