@charset "utf-8";

/**
 * --------------------------------
 * sub Page CSS
 * creator :chowoobin
 * --------------------------------
*/

/* 회원가입 > 공통 */
.join.content {padding:90px 16px 20px;}
.join .h3_tit {margin-top:20px;}
.join .category_list {margin:0 -16px;border-top:1px solid #e3e3e3;}
.join_titlebox {margin-bottom:30px;}
.join_titlebox dl {display:flex;align-items:center;justify-content:center;gap:8px;padding:14px 10px 12px;background-color:#f2f2f2;border-radius:4px;}
.join_titlebox dt {color:#000;font-size:14px;font-weight:600;}
.join_titlebox dd {color:#1b45b3;font-size:14px;font-weight:600;}

/* 회원가입 > 약관동의 */
.join_agree .box + .box {margin-top:30px;}
.join_agree .box .tit {color:#232323;font-size:15px;}
.join_agree .box .cont {height:160px;margin-top:8px;padding:16px;background-color:#fff;color:#898989;font-size:12px;line-height:18px;border:solid 1px #e4e4e4;border-radius:5px;overflow-y:scroll;}
.join_agree .box .txt {margin-top:13px;}

/* 티켓 > 공통 */
.ticket.content {padding:0;padding-top:70px;}

/* 티켓 > 예매하기, 예매내역 */
.ticket_list {border-top:8px solid #f2f2f2;}
.ticket_list > li {border-bottom:1px solid #e3e3e3;}
.ticket_list > li > a {display:block;position:relative;padding:20px 45px 20px 16px;}
.ticket_list > li > a:after {content:"";position:absolute;top:50%;right:16px;width:20px;height:20px;margin-top:-10px;background:url('../img/ico_arrow_blue.svg') no-repeat 0 0;}
.ticket_list > li.nodata {padding:40px;text-align:center;border:none;}
.ticket_list .state {color:#565656;font-size:13px;}
.ticket_list .state.blue {color:#0056a6;}
.ticket_list .state.red {color:#e54e2b;}
.ticket_list .tit {display:block;margin-top:9px;color:#000;font-size:16px;font-weight:normal;}
.ticket_list .sub {margin-top:10px;color:#565656;font-size:14px;}
.ticket_list .sub .sort:before {content:"";display:inline-block;margin-right:8px;height:10px;border-left:1px solid #e3e3e3;}
.ticket_list .date {margin-top:12px;color:#898989;font-size:13px;}

/* 티켓 > 예매하기 리스트 */
.ticket_reserve.content {padding:0;padding-top:70px;background:#f2f2f2;}
.ticket_list_reserve {padding:20px 16px;}
.ticket_list_reserve > li {padding:20px;background-color:#fff;border-radius:12px;box-shadow:0 3px 6px 0 rgba(0, 0, 0, 0.16);}
.ticket_list_reserve > li + li {margin-top:12px;}
.ticket_list_reserve > li.nodata {padding:20px;background:transparent;text-align:center;box-shadow:none;}
.ticket_list_reserve .info {position:relative;padding-bottom:12px;border-bottom:1px dashed #edeff1;}
.ticket_list_reserve .info .tit {display:block;color:#000;font-size:16px;font-weight:normal;}
.ticket_list_reserve .info .sub {margin-top:11px;color:#565656;font-size:14px;}
.ticket_list_reserve .info .sub .sort:before {content:"";display:inline-block;margin-right:8px;height:10px;border-left:1px solid #e3e3e3;}
.ticket_list_reserve .info .date {margin-top:13px;color:#898989;font-size:13px;}
.ticket_list_reserve .desc {margin-top:14px;color:#565656;font-size:12px;line-height:18px;}
.ticket_list_reserve .btn {display:block;margin-top:17px;}

/* 티켓 > 예매하기 상세 */
.ticket_reservedetail.content {padding:0;padding-top:70px;}
.ticket_prd {padding:20px 20px 30px;background:#f2f2f2;}
.ticket_prd .box {padding:20px;background-color:#fff;border-radius:12px;box-shadow:0 3px 6px 0 rgba(0, 0, 0, 0.16);}
.ticket_prd .info {position:relative;padding-bottom:12px;border-bottom:1px dashed #edeff1;}
.ticket_prd .info .tit {display:block;color:#000;font-size:16px;font-weight:normal;}
.ticket_prd .info .sub {margin-top:11px;color:#565656;font-size:14px;}
.ticket_prd .info .sub .sort:before {content:"";display:inline-block;margin-right:8px;height:10px;border-left:1px solid #e3e3e3;}
.ticket_prd .info .date {margin-top:13px;color:#898989;font-size:13px;}
.ticket_prd .info .ea_option {position:absolute;bottom:12px;right:0;}
.ticket_prd .desc {margin-top:14px;color:#565656;font-size:12px;line-height:18px;}

/* 티켓 > 예매내역 상세 */
.ticket_historydetail.content {padding:80px 0 0;}

/* 티켓 > 선물함 */
.ticket_gift.content {padding:0;padding-top:70px;background:#f2f2f2;}
.ticket_list_gift > li {padding:20px;background-color:#fff;border-radius:12px;box-shadow:0 3px 6px 0 rgba(0, 0, 0, 0.16);}
.ticket_list_gift > li + li {margin-top:12px;}
.ticket_list_gift > li.nodata {padding:20px;background:transparent;text-align:center;box-shadow:none;}
.ticket_list_gift .notify {display:block;margin-bottom:15px;padding-bottom:16px;color:#000;font-size:16px;line-height:20px;border-bottom:1px dashed #edeff1;}
.ticket_list_gift .info {position:relative;}
.ticket_list_gift .info .state {position:absolute;bottom:0;right:0;color:#565656;font-size:13px;font-weight:normal;}
.ticket_list_gift .info .state.red {color:#e54e2b;}
.ticket_list_gift .info .tit {display:block;color:#000;font-size:16px;font-weight:normal;}
.ticket_list_gift .info .sub {margin-top:11px;color:#565656;font-size:14px;}
.ticket_list_gift .info .sub .sort:before {content:"";display:inline-block;margin-right:8px;height:10px;border-left:1px solid #e3e3e3;}
.ticket_list_gift .info .date {margin-top:13px;color:#898989;font-size:13px;}

/* 티켓 > 선물함 상세 */
.ticket_giftdetail.content {padding-top:90px;}
.ticket_giftdetail .form_wrap {margin-bottom:40px;}
.ticket_giftdetail .payment {padding:0;}

/* 배차 신청 */
.carapply.content {padding-top:110px;}

/* 배차 현황 > 신청자 */
.carapplyresult.content {padding-top:110px;}

/* 배차 현황 > 드라이버 */
.cardriverresult.content {padding-top:110px;}
.cardriverresult .bottom_area {display:flex;align-items:center;gap:8px;margin-top:40px;}
.cardriverresult .bottom_area .btn:first-child {width:30%;min-width:auto;}
.cardriverresult .bottom_area .btn:last-child {width:70%;}

/* E-FORM */
.eform.content {padding-top:110px;}
.eform .h3_tit {margin-bottom:5px;font-size:20px;font-weight:600;}
.eform .tit_desc {color:#898989;font-size:13px;line-height:20px;}
.eform .form_wrap {margin-top:30px;}

/* 리서치 */
.research.content {padding-top:110px;}
.research .tit_desc {color:#000;font-size:13px;line-height:20px;}
.research .form_wrap {margin-top:24px;}

/* MY(QR) */
.myqr {padding-top:110px;}
.myqr .btn_group {margin-top:36px;}
.mypicture {margin-bottom:24px;text-align:center;}
.mypicture .images img {max-width:108px;}

/* MY(QR) 회원정보 */
.mymemberinfo.content {padding-top:110px;}

/* 공지사항 */
.notice.content {padding:0;padding-top:70px;}

/* qna */
.qna.content {padding:0;padding-top:70px;}
.qna .lnb .lnb_menu > li {width:50%;}
.qna_list > li {border-bottom:1px solid #e3e3e3;}
.qna_list > li > a {display:block;position:relative;padding:20px 45px 20px 16px;}
.qna_list > li > a:after {content:"";position:absolute;top:50%;right:16px;width:20px;height:20px;margin-top:-10px;background:url('../img/ico_arrow_blue.svg') no-repeat 0 0;}
.qna_list > li.nodata {padding:40px;text-align:center;border:none;}
.qna_list .state {color:#565656;font-size:12px;}
.qna_list .state.blue {color:#0056a6;}
.qna_list .tit {display:block;margin-top:9px;color:#000;font-size:16px;line-height:20px;}
.qna_list .date {margin-top:10px;color:#898989;font-size:13px;}
.qna_detail > li {border-bottom:1px solid #e3e3e3;}
.qna_detail .head {position:relative;padding:20px 16px 20px 52px;}
.qna_detail .head:before {content:"Q";display:block;position:absolute;top:50%;left:16px;width:28px;height:28px;margin-top:-14px;background:#0056a6;color:#fff;font-size:13px;line-height:28px;text-align:center;border-radius:28px;}
.qna_detail .head .tit {display:block;color:#000;font-size:16px;line-height:20px;}
.qna_detail .head .date {margin-top:6px;color:#898989;font-size:13px;}
.qna_detail .cont {position:relative;padding:20px 16px 20px 52px;background:#f2f2f2;}
.qna_detail .cont .txt {display:block;color:#000;font-size:13px;line-height:20px;}
.qna_detail .cont .txt:before {content:"A";display:block;position:absolute;top:20px;left:16px;width:28px;height:28px;background:#565656;color:#fff;font-size:13px;line-height:28px;text-align:center;border-radius:28px;}
.qna_detail .cont .date {display:block;margin-top:15px;color:#898989;font-size:13px;}

/* 차량 배차 내역 */
.storagecar.content {padding:0;padding-top:70px;}
.car_history_list > li {position:relative;padding:20px 16px;border-bottom:1px solid #e3e3e3;}
.car_history_list > li.nodata {padding:40px;text-align:center;border:none;}
.car_history_list .tit {display:block;margin-top:9px;color:#000;font-size:16px;line-height:20px;}
.car_history_list .date {color:#898989;font-size:13px;}
.car_history_list dl {display:flex;align-items:center;margin-top:10px;}
.car_history_list dl + dl {margin-top:6px;}
.car_history_list dl dt {padding:5px 6px 4px;font-size:11px;font-weight:600;border-radius:4px;}
.car_history_list dl dt.from {color:#898989;background:#f4f4f4;}
.car_history_list dl dt.to {color:#e54e2b;background:#fdede9;}
.car_history_list dl dd {margin-left:8px;color:#000;font-size:16px;font-weight:600;}
.car_history_list .state {position:absolute;top:50%;right:16px;margin-top:-8px;color:#898989;font-size:16px;font-weight:600;}
.car_history_list .state.blue {color:#0056a6;}

/* 이벤트 */
.event.content {margin-top:0;padding-top:40px;}
.event_titlebox {margin-bottom:30px;}
.event_titlebox dl {padding:21px 10px 19px;background-color:#f2f2f2;text-align:center;border-radius:4px;}
.event_titlebox dt {color:#1b45b3;font-size:14px;font-weight:normal;}
.event_titlebox dd {margin-top:10px;color:#000;font-size:20px;font-weight:600;}
